.container {
    width: 320px;
    padding: 20px;
}

.error {
    font-size: 16px;
    color: red;
    display: block;
    margin-top: 5px;
    white-space: nowrap;
}

.form {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.box {
    margin-bottom: 30px;
}

.input {
    display: block;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 12px;
}

.btn {
    display: block;
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    background-color: #33bd24;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid black;
}